# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Movement Test

User input on the keyboard and on the buttons are used for player movement and is functional.

### Test Data Used

Key listeners and Action listeners.  

### Test Result

![Movement_test.gif](screenshots%2FMovement_test.gif)

Both Keyboard and Mouse input control player movement. 

---

## Boundary Test

Player movement is limited by the size of the map. Appropriate Button(s) are hidden **only** if the player reaches the edge of the map.

### Test Data Used

Movement Functions.

### Test Result

![Boundary_test.gif](screenshots%2FBoundary_test.gif)

The edges of the map limit player movement and hide buttons. 

---

## Finding Treasure

When all clues are found and the location of the treasure is displayed, an appropriate message is shown in the dialog area.

### Test Data Used

Text variable.

# Test Results

![Winning_test.gif](screenshots%2FWinning_test.gif)

An appropriate message is displayed when the player finds the treasure. 
___

