# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Movement Test

User input on the keyboard and on the buttons are used for player movement and is functional.

### Test Data Used

Key listeners and Action listeners.  

### Test Result

![Movement_test.gif](screenshots%2FMovement_test.gif)

Both Keyboard and Mouse input control player movement. 

---

## Boundary Test

Player movement is limited by the size of the map. Appropriate Button(s) are hidden **only** if the player reaches the edge of the map.

### Test Data Used

Movement Functions.

### Test Result

![Boundary_test.gif](screenshots%2FBoundary_test.gif)

The edges of the map limit player movement and hide buttons. 

---

## Random Treasure Placement

Treasure placement is random with each run of the program.

### Test Data Used

Random functions and coordinate placement.

### Test Results

![Random_test.gif](screenshots%2FRandom_test.gif)

Treasure coordinates should be different with each program run.

___

